# Database
DB_USER=signaldesk
DB_PASSWORD=haebator
DB_HOST=postgres
DB_PORT=5432
DB_NAME=signaldesk

# Auth
JWT_SECRET='7DjxZV>R0smTM@Qmd97+,*Pyv.-ETyU0~.]D}oVTJ~REeGk2GxCuVV,iL2z50gBN0]%C4'
JWT_ALGO=HS256
ACCESS_EXPIRE_SECONDS=900
REFRESH_EXPIRE_SECONDS=2592000
SECURE=True
SAMESITE="strict"
PATH="/"

# App
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8080
ALLOWED_ORIGINS=["http://localhost:3000"]
